button, .button {
  display: block;
  max-width: 300px;
  margin: 2rem auto;
  border: 2px solid $teal;
  border-radius: 4px;
  background-color: $gray;
  color: $white;
  padding: 1rem 2rem;
  text-align: center;
  transition: all 0.5s ease;

  &:hover, &:focus {
    background-color: $teal;
    color: $white;
  }

  &.read-more {
    margin: 1rem 0 2rem;
    padding: 0.5rem;
    max-width: 120px;
  }

  &.paginate {
    flex: 1;
    padding: 0.5rem 0.25rem;
    background-color: $lightgray;

    &[disabled] {
      opacity: 0.25;

      &:hover, &:focus {
        background-color: $lightgray;
        color: $white;
      }

      &.current {
        opacity: 1;
        background-color: $orange;
        border-color: darken($orange, 20%);
        color: darken($white, 20%);

        &:hover, &:focus {
          background-color: $orange;
        }
      }
    }

    &:hover, &:focus {
      background-color: $teal;
    }
  }
}