$pgWidth: 1024px;

/***** Theme Colors *****/
$black: #000000;
$darkgray: #2b2b2b;
$gray: #444444;
$lightgray: #7c7a7a;
$white: #ffffff;
$teal: #11abb0;
$orange: #f06000;
$purple: #7b1e7a;
$pink: #ba2c73;
$lime: #4cad55;

/***** Brand Colors *****/
$bitbucket: #205081;
$facebook: #3b5998;
$github: #4183c4;
$github-alt: #333333;
$google: #ea4335;
$instagram: #000;
$reddit: #5f99cf;
$reddit-alt: #ff4500;
$twitter: #55acee;