<div class="avatar"></div>
<div class="bio">
  <p>Written by {{ site.author.name }} on {{ published }}. {{ site.author.firstName }} is the {{ site.author.position }} at <a href="//tribeswell.com">Tribeswell</a>.</p>
  {{> social }}
</div>