    <footer id="footer" class="wrap">
      <a class="scroll" href="#landing"><i class="icon icon-chevron-up"></i></a>
      {{> social }}
      <p class="copyright">&copy; 2016 dajocarter</p>
    </footer>
    <script src="https://use.fonticons.com/621f5d80.js"></script>
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/headroom.js"></script>
    <script type="text/javascript" src="/js/jquery.scrollTo.js"></script>
    <script type="text/javascript" src="/js/jquery.magnific-popup.js"></script>
    <script type="text/javascript" src="/js/master.js"></script>
  </body>
</html>
