    <footer id="footer" class="wrap">
      <a class="scroll" href="#landing"><i class="icon icon-chevron-up"></i></a>
      {{> social }}
      <p class="copyright">&copy; 2016 dajocarter</p>
    </footer>
    <script src="https://use.fonticons.com/621f5d80.js"></script>
    <script src="/js/master.min.js"></script>
  </body>
</html>
