    <footer id="footer" class="wrap">
      <a class="scroll" href="#landing"><i class="icon icon-chevron-up"></i></a>
      {{> social }}
      <p class="copyright">&copy; 2016 dajocarter</p>
    </footer>

    <script src="/js/master.js"></script>

    <script id="dsq-count-scr" src="//dajometal.disqus.com/count.js" async></script>

  </body>
</html>