<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1">
    <title>{{#if title }}{{titleize title }}{{ else }} {{ site.author.name }} {{/if}}</title>
    <meta name="description" content="{{ description }}">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="css/master.min.css" rel="stylesheet">
  </head>
  <body>

    <header id="header" class="animated">
      <div class="wrap">
        <a class="logo" href="/">dajocarter</a>
        <ul class="nav">
          <li><a href="/">Home</a></li>
          <li><a href="/blog">Blog</a></li>
        </ul>
      </div>
    </header>
