<div id="landing">
  <div class="content">
    <h1>David Carter</h1>
    <p>Director of Technical Services and Lead Developer at <a href="//tribeswell.com">Tribeswell</a>.</p>
  </div>
  <div class="scroll">
    <a href="#about" class="animated bounce infinite"><i class="fa fa-chevron-down"></i></a>
  </div>
</div>