{{> header }}
  <main class="wrap">
    <article>
      <h1>{{ title }}</h1>

      <div class="post-content">
        {{{ contents }}}
      </div>

      <footer>
        {{> author }}
      </footer>
    </article>
  </main>
{{> footer }}