{{> header }}
    <main>
      <h1>{{ title }}</h1>
      {{#if collections.posts}}
        {{#each collections.posts}}
          <h2><a href="/{{ this.path }}">{{ this.title }}</a></h2>
          {{{ this.excerpt }}}
        {{/each}}
      {{/if}}
    </main>
{{> footer }}