{{> header }}
    
    <article class="post">
      <header style="background-image:url('/img/{{ featImg }}');">
        <div class="overlay">
          <div class="window">
            <h1>{{ title }}</h1>
          </div>
        </div>
      </header>

      <div class="content">
        {{{ contents }}}
      </div>

      <footer>
        {{> author }}
      </footer>
    </article>
{{> footer }}