#footer {
  padding: 1rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  justify-content: center;

  .scroll {
    position: absolute;
    left: 50%;
    top: -30px;
    transform: translateX(-50%);
    background-color: $lightgray;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    font-size: 1.25rem;
    text-align: center;
    color: white;

    &:hover, &:focus {
      background-color: $teal;
    }
  }

  .icon {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .social {
    flex: 0 0 auto;
    width: 100%;
    justify-content: center;
    margin: 2rem 0 1rem;

    li {
      flex: 0;
    }

    a {
      background-color: inherit;
    }

    .icon {
      color: $lightgray;
    }
  }
}

.copyright {
  flex: 0 0 auto;
  width: 100%;
  margin: 0;
  text-align: center;
  color: $darkgray;
}