body {
  font-family: 'Lato', sans-serif;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

pre, code {
  background: #e8e8e8;
  padding: 2px 4px;
  border-radius: 4px;
}

pre {
  padding: 10px;
  overflow-x: auto;

  code {
    padding: 0;
    border-radius: 0;
  }
}

a {
  text-decoration: none;
}

main {
  padding: 83px 1rem 72px;
  max-width: $pgWidth;
  margin: 0 auto;
}

.wrap {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: $pgWidth;
  margin: 0 auto;
}

.nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;

  li {
    flex: 0;
    padding: 1rem;
  }
}

.social {
  &.sharing {
    li {
      padding: 0.5rem;
    }

    a {
      margin: 0;
    }
  }

  li {
    flex: 1;
    height: 2.5rem;
    padding: 0 0.5rem;
  }

  a {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto;

    &.BitBucket {
      background-color: $twitter;
    }

    &.Email {
      background-color: $google;
    }

    &.Facebook {
      background-color: $facebook;
    }

    &.GitHub {
      background-color: $github-alt;
    }

    &.GooglePlus {
      background-color: $google;
    }

    &.Instagram {
      animation: instagram 10s infinite;
    }

    &.LinkedIn {
      background-color: $linkedin;
    }

    &.Reddit {
      background-color: $reddit;
    }

    &.Twitter {
      background-color: $twitter;
    }
  }

  .icon {
    color: white;
    position: relative;
    font-size: 1.25rem;
    top: 10px;
  }
}

@keyframes instagram {
  0% {
    background-color: $instagram-1;
  }

  10% {
    background-color: $instagram-2;
  }

  20% {
    background-color: $instagram-3;
  }

  30% {
    background-color: $instagram-4;
  }

  40% {
    background-color: $instagram-5;
  }

  50% {
    background-color: $instagram-6;
  }

  60% {
    background-color: $instagram-7;
  }

  70% {
    background-color: $instagram-8;
  }

  80% {
    background-color: $instagram-9;
  }

  90% {
    background-color: $instagram-10;
  }

  100% {
    background-color: $instagram-1;
  }
}