$headerWidth: $pgWidth + 32px;

.headroom {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem 0;
  z-index: 10;
  background-color: $darkgray;
  transition: transform 200ms linear;

  &.headroom--unpinned {
    transform: translateY(-100%);
  }

  &.headroom--pinned {
    transform: translateY(0);
  }

  .wrap {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-width: $headerWidth;
    margin: 0 auto;
  }

  .logo {
    flex: 0 0 auto;
    padding: 1rem;
  }

  a {
    color: $white;

    &:hover, &:focus {
      color: $orange;
    }
  }
}