.home > div {
  min-height: calc(100vh - 85px);
  position: relative;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.scroll {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);

  a {
    display: block;
    font-size: 2.5rem;
  }
}

#about {
  h3 {
    margin-bottom: 0.5rem;
  }

  .icon {
    margin-right: 0.5rem;
    font-size: 1.25rem;
  }

  li:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  @media (max-width: 766px) {
    .col {
      width: 100%;
    }
  }

  @media (min-width: 767px) {
    .nine.col {
      padding-left: 3rem;
    }
  }
}

#resume {
  .row {
    padding: 0 1rem;
  }

  h2 {
    margin: 2rem 0;
    padding: 1rem 0 0.5rem;
    border-bottom: 2px solid $teal;
  }

  h3, h4 {
    text-align: center;
  }

  h3 {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid $orange;
    width: 100%;
  }

  .five.col {
    padding: 0.5rem 0.5rem 0 0;
  }

  .seven.col {
    border-left: 1px solid $orange;
    padding: 0.5rem 0 0 0.5rem;
  }

  span {
    color: $white;
  }

  p {
    position: relative;
  }

  .month {
    position: absolute;
    top: -1rem;

    &.from {
      left: 0;
    }
  }

  .year {
    float: left;
  }
}