.landing {
  height: calc(100vh - 85px);
  position: relative;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.scroll {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);

  a {
    display: block;
    font-size: 2.5rem;
    color: black;

    &:hover, &:focus {
      color: black;
    }
  }
}

#resume {
  h3, h4 {
    border-bottom: 1px solid black;
  }

  @media (min-width: 767px) {
    .three.col {
      border-right: 1px solid black;
    }
  }
}