.posts {
  h1 {
    margin: 2rem auto;
    border-bottom: 1px solid $teal;
    padding-bottom: 0.5rem;
  }

  article {
    display: flex;
    flex-wrap: wrap;
  }

  .post-info,
  .content {
    flex: 0 0 auto;
    width: 100%;
  }

  .post-info {
    text-align: center;
    width: 25%;

    p {
      margin: 0 auto;
      width: 75%;

      &.month {
        margin-top: 10px;
      }
    }
  }

  .content {
    width: 75%;
  }

  .day {
    color: $orange;
    font-size: 3rem;
    border-bottom: 2px solid $white;
  }

  .month,
  .year {
    color: $teal;
    font-size: 1.25rem;
  }

  .month {
    text-transform: uppercase;
  }

  .read-more {
    background-color: $lightgray;
    color: $white;
    margin: 1rem 0 2rem;
    border-color: $teal;

    &:hover, &:focus {
      background-color: $teal;
      color: $white;
    }
  }

  @media (min-width: 767px) {
    .day {
      font-size: 5rem;
    }

    .month, .year {
      font-size: 2rem;
    }
  }
}

article {
  margin-bottom: 2rem;

  h1 {
    text-align: center;
    font-size: 3rem;
    margin: 3rem auto;

    @media (min-width: 767px) {
      font-size: 5rem;
      margin: 5rem auto;
    }
  }

  .post-content p {
    line-height: 2rem;
  }

  footer {
    li:first-child {
      padding-left: 0;
    }
  }

  .avatar {
    background-image: url("img/profile.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    float: left;
  }

  .bio {
    float: left;
    margin-left: 1rem;
    width: 295px;

    p {
      font-style: italic;
      font-size: 0.75rem;
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 305px;

  .pages {
    display: flex;
    justify-content: center;
    flex: 3;

    .paginate {
      flex: 0 0 auto;
      padding: 1rem;
    }
  }
}
