$pgWidth: 1024px;

/***** Brand Colors *****/
$bitbucket: #205081;
$github: #4183c4;
$github-alt: #333333;
$google: #ea4335;
$instagram-1: #405de6;
$instagram-2: #5851db;
$instagram-3: #833ab4;
$instagram-4: #c13584;
$instagram-5: #e1306c;
$instagram-6: #fd1d1d;
$instagram-7: #f56040;
$instagram-8: #f77737;
$instagram-9: #fcaf45;
$instagram-10: #ffdc80;
$linkedin: #0077b5;
$reddit: #5f99cf;
$reddit-alt: #ff4500;
$twitter: #55acee;