$pgWidth: 1024px;

$darkgray: #2B2B2B;
$lightgray: #7A7A7A;
$teal: #11ABB0;

/***** Brand Colors *****/
$bitbucket: #205081;
$facebook: #3b5998;
$github: #4183c4;
$github-alt: #333333;
$google: #ea4335;
$instagram: #000;
$reddit: #5f99cf;
$reddit-alt: #ff4500;
$twitter: #55acee;